<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dioxide.movierepository.mapper.QueryMapper">

    <!-- selectByName -->
    <select id="queryUserHistory" resultType="cn.dioxide.movierepository.entity.UserHistory">
        SELECT
            sub.movieId,
            m.title,
            sub.rating,
            sub.timestamp,
            gt.tag,
            sub.relevance
        FROM (
                SELECT
                    r.movieId,
                    r.rating,
                    r.timestamp,
                    gs.tagId,
                    gs.relevance,
                    ROW_NUMBER() OVER (PARTITION BY r.movieId ORDER BY gs.relevance DESC) AS 'rank'
                FROM `ratings` AS r
                        INNER JOIN `genome-scores` AS gs ON r.movieId = gs.movieId
                WHERE r.userId = #{userId}
                ORDER BY r.timestamp DESC
            ) AS sub
                INNER JOIN `movies` AS m ON sub.movieId = m.movieId
                INNER JOIN `genome-tags` AS gt ON sub.tagId = gt.tagId
        WHERE sub.rank &lt;= 3;
    </select>

</mapper>